In [36]:
import pyspark
print(pyspark.__version__)

3.5.3

In [37]:
from pyspark.sql import SparkSession

spark = SparkSession.builder.appName("sepomex").getOrCreate()

dir_hdfs = "locatel.txt"
df = spark.read.csv(dir_hdfs, header = True, inferSchema = True, sep="|")
df.printSchema()

root
 |-- d_codigo: integer (nullable = true)
 |-- d_asenta: string (nullable = true)
 |-- d_tipo_asenta: string (nullable = true)
 |-- D_mnpio: string (nullable = true)
 |-- d_estado: string (nullable = true)
 |-- d_ciudad: string (nullable = true)
 |-- d_CP: integer (nullable = true)
 |-- c_estado: integer (nullable = true)
 |-- c_oficina: integer (nullable = true)
 |-- c_CP: string (nullable = true)
 |-- c_tipo_asenta: integer (nullable = true)
 |-- c_mnpio: integer (nullable = true)
 |-- id_asenta_cpcons: integer (nullable = true)
 |-- d_zona: string (nullable = true)
 |-- c_cve_ciudad: integer (nullable = true)

In [38]:
spark.sql("SHOW TABLES").show()

+---------+---------+-----------+
|namespace|tableName|isTemporary|
+---------+---------+-----------+
|         |  locatel|       true|
|         |  sepomex|       true|
+---------+---------+-----------+

In [39]:
df.createOrReplaceTempView("locatel")

In [40]:
spark.sql("DESCRIBE locatel").show(truncate=False)

+----------------+---------+-------+
|col_name        |data_type|comment|
+----------------+---------+-------+
|d_codigo        |int      |NULL   |
|d_asenta        |string   |NULL   |
|d_tipo_asenta   |string   |NULL   |
|D_mnpio         |string   |NULL   |
|d_estado        |string   |NULL   |
|d_ciudad        |string   |NULL   |
|d_CP            |int      |NULL   |
|c_estado        |int      |NULL   |
|c_oficina       |int      |NULL   |
|c_CP            |string   |NULL   |
|c_tipo_asenta   |int      |NULL   |
|c_mnpio         |int      |NULL   |
|id_asenta_cpcons|int      |NULL   |
|d_zona          |string   |NULL   |
|c_cve_ciudad    |int      |NULL   |
+----------------+---------+-------+

In [41]:
spark.sql("SELECT * FROM locatel").show()

+--------+--------------------+-------------+--------------+----------------+----------------+----+--------+---------+----+-------------+-------+----------------+------+------------+
|d_codigo|            d_asenta|d_tipo_asenta|       D_mnpio|        d_estado|        d_ciudad|d_CP|c_estado|c_oficina|c_CP|c_tipo_asenta|c_mnpio|id_asenta_cpcons|d_zona|c_cve_ciudad|
+--------+--------------------+-------------+--------------+----------------+----------------+----+--------+---------+----+-------------+-------+----------------+------+------------+
|    1000|           San �ngel|      Colonia|�lvaro Obreg�n|Ciudad de M�xico|Ciudad de M�xico|1001|       9|     1001|NULL|            9|     10|               1|Urbano|           1|
|    1010|           Los Alpes|      Colonia|�lvaro Obreg�n|Ciudad de M�xico|Ciudad de M�xico|1001|       9|     1001|NULL|            9|     10|               5|Urbano|           1|
|    1020|       Guadalupe Inn|      Colonia|�lvaro Obreg�n|Ciudad de M�xico|Ciudad de M�xico|1001|       9|     1001|NULL|            9|     10|               6|Urbano|           1|
|    1030|              Axotla|       Pueblo|�lvaro Obreg�n|Ciudad de M�xico|Ciudad de M�xico|1001|       9|     1001|NULL|           28|     10|               9|Urbano|           1|
|    1030|             Florida|      Colonia|�lvaro Obreg�n|Ciudad de M�xico|Ciudad de M�xico|1001|       9|     1001|NULL|            9|     10|              10|Urbano|           1|
|    1040|           Campestre|      Colonia|�lvaro Obreg�n|Ciudad de M�xico|Ciudad de M�xico|1001|       9|     1001|NULL|            9|     10|              12|Urbano|           1|
|    1049|            Tlacopac|       Pueblo|�lvaro Obreg�n|Ciudad de M�xico|Ciudad de M�xico|1001|       9|     1001|NULL|           28|     10|              14|Urbano|           1|
|    1050|Ex-Hacienda de Gu...|      Colonia|�lvaro Obreg�n|Ciudad de M�xico|Ciudad de M�xico|1001|       9|     1001|NULL|            9|     10|              16|Urbano|           1|
|    1060|           Altavista|      Colonia|�lvaro Obreg�n|Ciudad de M�xico|Ciudad de M�xico|1001|       9|     1001|NULL|            9|     10|              17|Urbano|           1|
|    1060|       San �ngel Inn|      Colonia|�lvaro Obreg�n|Ciudad de M�xico|Ciudad de M�xico|1001|       9|     1001|NULL|            9|     10|              18|Urbano|           1|
|    1070|         Chimalistac|      Colonia|�lvaro Obreg�n|Ciudad de M�xico|Ciudad de M�xico|1001|       9|     1001|NULL|            9|     10|              19|Urbano|           1|
|    1080|    Progreso Tizapan|      Colonia|�lvaro Obreg�n|Ciudad de M�xico|Ciudad de M�xico|1001|       9|     1001|NULL|            9|     10|              22|Urbano|           1|
|    1089|      Ermita Tizapan|      Colonia|�lvaro Obreg�n|Ciudad de M�xico|Ciudad de M�xico|1001|       9|     1001|NULL|            9|     10|              24|Urbano|           1|
|    1090|       La Otra Banda|       Barrio|�lvaro Obreg�n|Ciudad de M�xico|Ciudad de M�xico|1001|       9|     1001|NULL|            2|     10|              25|Urbano|           1|
|    1090|              Loreto|       Barrio|�lvaro Obreg�n|Ciudad de M�xico|Ciudad de M�xico|1001|       9|     1001|NULL|            2|     10|              26|Urbano|           1|
|    1090|             Tizapan|       Pueblo|�lvaro Obreg�n|Ciudad de M�xico|Ciudad de M�xico|1001|       9|     1001|NULL|           28|     10|              28|Urbano|           1|
|    1100|             P�lvora|      Colonia|�lvaro Obreg�n|Ciudad de M�xico|Ciudad de M�xico|1131|       9|     1131|NULL|            9|     10|              31|Urbano|           1|
|    1109|         La Conchita|      Colonia|�lvaro Obreg�n|Ciudad de M�xico|Ciudad de M�xico|1131|       9|     1131|NULL|            9|     10|              33|Urbano|           1|
|    1110| Bel�m de las Flores|      Colonia|�lvaro Obreg�n|Ciudad de M�xico|Ciudad de M�xico|1131|       9|     1131|NULL|            9|     10|              34|Urbano|           1|
|    1110|          El Capul�n|      Colonia|�lvaro Obreg�n|Ciudad de M�xico|Ciudad de M�xico|1131|       9|     1131|NULL|            9|     10|              36|Urbano|           1|
+--------+--------------------+-------------+--------------+----------------+----------------+----+--------+---------+----+-------------+-------+----------------+------+------------+
only showing top 20 rows

In [42]:
spark.sql("SELECT d_estado, d_ciudad FROM locatel").show(100)

+----------------+----------------+
|        d_estado|        d_ciudad|
+----------------+----------------+
|Ciudad de M�xico|Ciudad de M�xico|
|Ciudad de M�xico|Ciudad de M�xico|
|Ciudad de M�xico|Ciudad de M�xico|
|Ciudad de M�xico|Ciudad de M�xico|
|Ciudad de M�xico|Ciudad de M�xico|
|Ciudad de M�xico|Ciudad de M�xico|
|Ciudad de M�xico|Ciudad de M�xico|
|Ciudad de M�xico|Ciudad de M�xico|
|Ciudad de M�xico|Ciudad de M�xico|
|Ciudad de M�xico|Ciudad de M�xico|
|Ciudad de M�xico|Ciudad de M�xico|
|Ciudad de M�xico|Ciudad de M�xico|
|Ciudad de M�xico|Ciudad de M�xico|
|Ciudad de M�xico|Ciudad de M�xico|
|Ciudad de M�xico|Ciudad de M�xico|
|Ciudad de M�xico|Ciudad de M�xico|
|Ciudad de M�xico|Ciudad de M�xico|
|Ciudad de M�xico|Ciudad de M�xico|
|Ciudad de M�xico|Ciudad de M�xico|
|Ciudad de M�xico|Ciudad de M�xico|
|Ciudad de M�xico|Ciudad de M�xico|
|Ciudad de M�xico|Ciudad de M�xico|
|Ciudad de M�xico|Ciudad de M�xico|
|Ciudad de M�xico|Ciudad de M�xico|
|Ciudad de M�xico|Ciudad de M�xico|
|Ciudad de M�xico|Ciudad de M�xico|
|Ciudad de M�xico|Ciudad de M�xico|
|Ciudad de M�xico|Ciudad de M�xico|
|Ciudad de M�xico|Ciudad de M�xico|
|Ciudad de M�xico|Ciudad de M�xico|
|Ciudad de M�xico|Ciudad de M�xico|
|Ciudad de M�xico|Ciudad de M�xico|
|Ciudad de M�xico|Ciudad de M�xico|
|Ciudad de M�xico|Ciudad de M�xico|
|Ciudad de M�xico|Ciudad de M�xico|
|Ciudad de M�xico|Ciudad de M�xico|
|Ciudad de M�xico|Ciudad de M�xico|
|Ciudad de M�xico|Ciudad de M�xico|
|Ciudad de M�xico|Ciudad de M�xico|
|Ciudad de M�xico|Ciudad de M�xico|
|Ciudad de M�xico|Ciudad de M�xico|
|Ciudad de M�xico|Ciudad de M�xico|
|Ciudad de M�xico|Ciudad de M�xico|
|Ciudad de M�xico|Ciudad de M�xico|
|Ciudad de M�xico|Ciudad de M�xico|
|Ciudad de M�xico|Ciudad de M�xico|
|Ciudad de M�xico|Ciudad de M�xico|
|Ciudad de M�xico|Ciudad de M�xico|
|Ciudad de M�xico|Ciudad de M�xico|
|Ciudad de M�xico|Ciudad de M�xico|
|Ciudad de M�xico|Ciudad de M�xico|
|Ciudad de M�xico|Ciudad de M�xico|
|Ciudad de M�xico|Ciudad de M�xico|
|Ciudad de M�xico|Ciudad de M�xico|
|Ciudad de M�xico|Ciudad de M�xico|
|Ciudad de M�xico|Ciudad de M�xico|
|Ciudad de M�xico|Ciudad de M�xico|
|Ciudad de M�xico|Ciudad de M�xico|
|Ciudad de M�xico|Ciudad de M�xico|
|Ciudad de M�xico|Ciudad de M�xico|
|Ciudad de M�xico|Ciudad de M�xico|
|Ciudad de M�xico|Ciudad de M�xico|
|Ciudad de M�xico|Ciudad de M�xico|
|Ciudad de M�xico|Ciudad de M�xico|
|Ciudad de M�xico|Ciudad de M�xico|
|Ciudad de M�xico|Ciudad de M�xico|
|Ciudad de M�xico|Ciudad de M�xico|
|Ciudad de M�xico|Ciudad de M�xico|
|Ciudad de M�xico|Ciudad de M�xico|
|Ciudad de M�xico|Ciudad de M�xico|
|Ciudad de M�xico|Ciudad de M�xico|
|Ciudad de M�xico|Ciudad de M�xico|
|Ciudad de M�xico|Ciudad de M�xico|
|Ciudad de M�xico|Ciudad de M�xico|
|Ciudad de M�xico|Ciudad de M�xico|
|Ciudad de M�xico|Ciudad de M�xico|
|Ciudad de M�xico|Ciudad de M�xico|
|Ciudad de M�xico|Ciudad de M�xico|
|Ciudad de M�xico|Ciudad de M�xico|
|Ciudad de M�xico|Ciudad de M�xico|
|Ciudad de M�xico|Ciudad de M�xico|
|Ciudad de M�xico|Ciudad de M�xico|
|Ciudad de M�xico|Ciudad de M�xico|
|Ciudad de M�xico|Ciudad de M�xico|
|Ciudad de M�xico|Ciudad de M�xico|
|Ciudad de M�xico|Ciudad de M�xico|
|Ciudad de M�xico|Ciudad de M�xico|
|Ciudad de M�xico|Ciudad de M�xico|
|Ciudad de M�xico|Ciudad de M�xico|
|Ciudad de M�xico|Ciudad de M�xico|
|Ciudad de M�xico|Ciudad de M�xico|
|Ciudad de M�xico|Ciudad de M�xico|
|Ciudad de M�xico|Ciudad de M�xico|
|Ciudad de M�xico|Ciudad de M�xico|
|Ciudad de M�xico|Ciudad de M�xico|
|Ciudad de M�xico|Ciudad de M�xico|
|Ciudad de M�xico|Ciudad de M�xico|
|Ciudad de M�xico|Ciudad de M�xico|
|Ciudad de M�xico|Ciudad de M�xico|
|Ciudad de M�xico|Ciudad de M�xico|
+----------------+----------------+
only showing top 100 rows

In [43]:
sqlstr = """
SELECT d_estado, d_ciudad, d_mnpio 
FROM locatel 
WHERE d_mnpio IS NOT NULL
"""

resultado_conteo=spark.sql(sqlstr).count()
print(resultado_conteo)

155922

In [44]:
sqlstr = """SELECT count(*) nr FROM locatel WHERE edad is not null"""

spark.sql(sqlstr).show(truncate=False)

AnalysisException: [UNRESOLVED_COLUMN.WITH_SUGGESTION] A column or function parameter with name `edad` cannot be resolved. Did you mean one of the following? [`d_CP`, `c_CP`, `d_zona`, `c_estado`, `d_ciudad`].; line 1 pos 38;
'Aggregate [count(1) AS nr#809L]
+- 'Filter isnotnull('edad)
   +- SubqueryAlias locatel
      +- View (`locatel`, [d_codigo#615,d_asenta#616,d_tipo_asenta#617,D_mnpio#618,d_estado#619,d_ciudad#620,d_CP#621,c_estado#622,c_oficina#623,c_CP#624,c_tipo_asenta#625,c_mnpio#626,id_asenta_cpcons#627,d_zona#628,c_cve_ciudad#629])
         +- Relation [d_codigo#615,d_asenta#616,d_tipo_asenta#617,D_mnpio#618,d_estado#619,d_ciudad#620,d_CP#621,c_estado#622,c_oficina#623,c_CP#624,c_tipo_asenta#625,c_mnpio#626,id_asenta_cpcons#627,d_zona#628,c_cve_ciudad#629] csv

In [ ]:
sqlstr = """SELECT sexo, count(* nr) FROM locatel GROUP BY sexo ORDER BY sexo"""

spark.sql(sqlstr).show(truncate=False)

In [ ]:
campo = "edad"
sqlstr = """SELECT {campo}, count(* nr) FROM locatel GROUP BY {campo} ORDER BY {campo} DESC"""

spark.sql(sqlstr).show(200, truncate=False)

In [ ]:
campo = "tema_solicitud"
sqlstr = """SELECT {edad}, count(* nr) FROM locatel GROUP BY {edad} ORDER BY {edad} DESC"""

spark.sql(sqlstr).show(200, truncate=False)

In [ ]:
campo = "tema_solicitud"
sqlstr = """SELECT {campo}, count(* nr), ROUND(AVG(edad),2) edad_prom, MAX(edad) edad_max, MIN(edad) edad_min FROM locatel GROUP BY {campo} ORDER BY {campo} DESC"""
print("Atenea Gutiérrez")
spark.sql(sqlstr).show(10, truncate=False)

In [ ]:
#Registros por hora
import matplotlib.pyplot as plt

sqlstr = f"""SELECT HOUR(hora_solicitud) hora COUNT(*) FROM locatel GROUP BY {campo} ORDER BY {campo} DESC"""
print("Angela Atenea Larios Gutiérrez")
dfh=spark.sql(sqlstr).toPandas()

plt.figure(figsize = (10,6))
plt.bar(dhf['hora'], dfh['nr'], marker = 'o', linestyle = '-', color = 'b')

plt.xlabel('Hora del día')
plt.ylabel('Número de registros')
plt.title('Número de registros por hora')

### Miercóles 16 Octubre

In [ ]:
sqlstr = f"""SELECT HOUR(hora_solicitud) hora 
SUBSTRING (hora_solicitud, 15, 2) hora COUNT NR(*) 
FROM locatel 
GROUP BY anio 
ORDER BY 1 DESC"""
print("Angela Atenea Larios Gutiérrez")
dfh=spark.sql(sqlstr).toPandas().show()

In [ ]:
sqlstr = f"""SELECT YEAR(fecha_solicitud) anio, sexo COUNT (*) 
FROM locatel 
GROUP BY anio, sexo
ORDER BY 1, 2 DESC"""
print("Angela Atenea Larios Gutiérrez")
dfh=spark.sql(sqlstr).toPandas()

plt.figure(figsize = (10,6))
plt.bar(dfh['anio'], dfh['nr'])

plt.xlabel('Año')
plt.ylabel('Número de registros')
plt.title('Número de registros por año')

In [ ]:
sqlstr = f"""SELECT anio, 
SUM(CASE WHEN sexo = "FEMENINO" THEN nr ELSE 0 END) AS FEMENINO,
SUM(CASE WHEN sexo = "MASCULINO" THEN nr ELSE 0 END) AS MASCULINO,
SUM(CASE WHEN sexo = IN('NA', NO ESPECIFICADO) THEN nr ELSE 0 END) AS NO ESPECIFICADO
FROM (
    SELECT YEAR(fecha_solicitud) anio, sexo COUNT (*) nr
    FROM locatel
    GROUP BY anio, sexo
)
GROUP BY anio, sexo
ORDER BY 1, 2 DESC"""
print("Angela Atenea Larios Gutiérrez")
spark.sql(sqlstr).toPandas().set_index('anio')[['FEMENINO','MASCULINO', 'NO ESPECIFICADO']].plot(kind='bar',stacked=False,figsize=(10,6))

plt.xlabel('Año')
plt.ylabel('Número de registros')
plt.title('Número de registros por año')
plt.xticks(rotation=45)

plt.tight_layout()
plt.show()

In [ ]:
sqlstr = f"""SELECT anio, 
SUM(CASE WHEN sexo = "FEMENINO" THEN nr ELSE 0 END) AS FEMENINO,
SUM(CASE WHEN sexo = "MASCULINO" THEN nr ELSE 0 END) AS MASCULINO,
SUM(CASE WHEN sexo = IN('NA', NO ESPECIFICADO) THEN nr ELSE 0 END) AS NO ESPECIFICADO
FROM (
    SELECT YEAR(fecha_solicitud) anio, sexo COUNT (*) nr
    FROM locatel
    GROUP BY anio, sexo
)
GROUP BY anio, sexo
ORDER BY 1, 2 DESC"""
print("Angela Atenea Larios Gutiérrez")

spark.sql(sqlstr).write.mode("append").save("locatelanio")

## Clase 18/10/2024

In [20]:
from pyspark.sql.types import StructType, StructField, StringType, IntegerType
 
schema = StructType([
    StructField("d_codigo", StringType(), True),
    StructField("d_asenta", StringType(), True),
    StructField("d_tipo_asenta", StringType(), True),
    StructField("D_mnpio", StringType(), True),
    StructField("d_estado", StringType(), True),
    StructField("d_ciudad", StringType(), True),
    StructField("d_CP", StringType(), True),
    StructField("c_estado", StringType(), True),
    StructField("c_oficina", StringType(), True),
    StructField("c_CP", StringType(), True),
    StructField("c_tipo_asenta", StringType(), True),
    StructField("c_mnpio", StringType(), True),
    StructField("id_asenta_cpcons", StringType(), True),
    StructField("d_zona", StringType(), True),
    StructField("c_cve_ciudad", StringType(), True)
])

sepomex_df = spark.read.option("header","true")\
    .option("delimiter","|")\
    .option("skipRows","1")\
    .option("encoding","UTF-8")\
    .schema(schema)\
    .csv("sepomex.csv")
sepomex_df.count()
#curl -L https://github.com/omarmendoza564/datos/raw/refs/heads/main/datos/CPdescarga.txt | iconv -f ISO-8859-1 -t UTF-8 | hdfs dfs -put -f - /tmp/amd/sepomex/CPdescarga.txt
 
#imports
from pyspark.sql.functions import col, sum, to_date, to_timestamp, regexp_replace, date_format
from pyspark.sql.types import IntegerType, DoubleType, FloatType
 
#curl -L https://datos.cdmx.gob.mx/dataset/529aac27-d1c1-426f-8c45-fd76fba43bf4/resource/44913088-806d-4f80-acca-1409a8225e9c/download/locatel0311-2024.csv | hdfs dfs -put -f - /tmp/amd/locatel0311/locatel0311-2024.csv

In [21]:
sepomex_df.printSchema()

root
 |-- d_codigo: string (nullable = true)
 |-- d_asenta: string (nullable = true)
 |-- d_tipo_asenta: string (nullable = true)
 |-- D_mnpio: string (nullable = true)
 |-- d_estado: string (nullable = true)
 |-- d_ciudad: string (nullable = true)
 |-- d_CP: string (nullable = true)
 |-- c_estado: string (nullable = true)
 |-- c_oficina: string (nullable = true)
 |-- c_CP: string (nullable = true)
 |-- c_tipo_asenta: string (nullable = true)
 |-- c_mnpio: string (nullable = true)
 |-- id_asenta_cpcons: string (nullable = true)
 |-- d_zona: string (nullable = true)
 |-- c_cve_ciudad: string (nullable = true)

In [22]:
sepomex_df.select(['d_codigo','d_mnpio','d_estado','d_ciudad']).distinct().createOrReplaceTempView("sepomex")

In [23]:
spark.sql("SHOW TABLES").show()

+---------+---------+-----------+
|namespace|tableName|isTemporary|
+---------+---------+-----------+
|         |  sepomex|       true|
+---------+---------+-----------+

In [24]:
spark.sql("DESCRIBE sepomex").show()

+--------+---------+-------+
|col_name|data_type|comment|
+--------+---------+-------+
|d_codigo|   string|   NULL|
| d_mnpio|   string|   NULL|
|d_estado|   string|   NULL|
|d_ciudad|   string|   NULL|
+--------+---------+-------+

In [25]:
spark.sql("SELECT COUNT (*) FROM sepomex").show(30, truncate=False)

24/10/18 12:42:47 WARN CSVHeaderChecker: CSV header does not conform to the schema.
 Header: id_folio,fecha_solicitud,hora_solicitud,tipo_de_entrada,tema_solicitud,sexo,edad,colonia_solicitud,alcaldia_solicitud,codigo_postal_solicitud,estatus,fecha_concluido,alcaldia_catalogo,colonia_catalogo,longitud,latitud, , ,
 Schema: d_codigo, D_mnpio, d_estado, d_ciudad
Expected: d_codigo but found: id_folio,fecha_solicitud,hora_solicitud,tipo_de_entrada,tema_solicitud,sexo,edad,colonia_solicitud,alcaldia_solicitud,codigo_postal_solicitud,estatus,fecha_concluido,alcaldia_catalogo,colonia_catalogo,longitud,latitud
CSV file: file:///home/atenea/Macrodatos/sepomex.csv

+--------+
|count(1)|
+--------+
|113147  |
+--------+

In [26]:
#Ver el numero de registros por estado
strsql=""" SELECT d_estado AS estado, COUNT (*) nr
FROM sepomex
GROUP BY d_estado
Order BY 1
"""
spark.sql(strsql).show(40, truncate=False)

24/10/18 12:42:53 WARN CSVHeaderChecker: CSV header does not conform to the schema.
 Header: id_folio,fecha_solicitud,hora_solicitud,tipo_de_entrada,tema_solicitud,sexo,edad,colonia_solicitud,alcaldia_solicitud,codigo_postal_solicitud,estatus,fecha_concluido,alcaldia_catalogo,colonia_catalogo,longitud,latitud, , ,
 Schema: d_codigo, D_mnpio, d_estado, d_ciudad
Expected: d_codigo but found: id_folio,fecha_solicitud,hora_solicitud,tipo_de_entrada,tema_solicitud,sexo,edad,colonia_solicitud,alcaldia_solicitud,codigo_postal_solicitud,estatus,fecha_concluido,alcaldia_catalogo,colonia_catalogo,longitud,latitud
CSV file: file:///home/atenea/Macrodatos/sepomex.csv

+------+------+
|estado|nr    |
+------+------+
|NULL  |113147|
+------+------+

In [ ]:
strsql = """SELECT *
FROM locatel l
LEFT JOIN sepomex s ON(l.d_codigo = s.d_codigo)
ORDER BY 1
"""

spark.sql(strsql).show(40,truncate=False)

In [ ]:
strsql = """SELECT *
FROM locatel l
LEFT JOIN sepomex s ON(l.d_codigo = s.d_codigo)
WHERE s.d_codigo IS NULL
ORDER BY 1
"""

spark.sql(strsql).show(40,truncate=False)

In [ ]:
strsql = """SELECT fecha_solicitud, tema_solicitud, l.d_codigo, s.d_codigo,s.d_ciudad
FROM locatel l
LEFT JOIN sepomex s ON(l.d_codigo = s.d_codigo)
WHERE s.d_codigo IS NULL
ORDER BY 1
"""

spark.sql(strsql).show(10,truncate=False)

In [ ]:
strsql = """SELECT fecha_solicitud, tema_solicitud, l.d_codigo, s.d_codigo,s.d_ciudad
FROM locatel l
JOIN sepomex s ON(l.d_codigo = s.d_codigo)
ORDER BY 1
"""

spark.sql(strsql).show(10,truncate=False)

In [ ]:
strsql = """SELECT fecha_solicitud, tema_solicitud, l.d_codigo, s.d_codigo,s.d_ciudad
FROM locatel l
RIGHT JOIN sepomex s ON(l.d_codigo = s.d_codigo)
ORDER BY 1
"""

spark.sql(strsql).show(10,truncate=False)

In [ ]:
strsql = """SELECT COUNT (*)
FROM locatel l
RIGHT JOIN sepomex s ON(l.d_codigo = s.d_codigo)
WHERE l.d_codigo IS NULL
ORDER BY 1
"""

spark.sql(strsql).show(10,truncate=False)

In [ ]:
strsql = """SELECT COUNT (*)
FROM locatel l
FULL OUTER JOIN sepomex s ON(l.d_codigo = s.d_codigo)
ORDER BY 1
"""

spark.sql(strsql).show(10,truncate=False)

In [ ]:
strsql = """SELECT COUNT (*)
FROM locatel l
FULL OUTER JOIN sepomex s ON(l.d_codigo = s.d_codigo)
WHERE l.d_codigo IS NULL or s.d_codigo IS NULL
ORDER BY 1
"""

spark.sql(strsql).show(10,truncate=False)

### Correr con precaución la siguiente celda

In [ ]:
#Ver el numero de registros por estado
strsql=""" SELECT count (*) nr
FROM locatel l
JOIN sepomex x
Order BY 1
"""
spark.sql(strsql).show(40, truncate=False)